.updatesSection {
  width: 100%;
  background-color: #f3db7a;
  background: linear-gradient(to right, #d889ae, #5ca7c5);
  padding: 0.5rem 1rem;
  border-top: 2px solid #00aaff;
  border-bottom: 2px solid #00aaff;
}

.updatesWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.updatesTitle {
  color: #007acc;
  font-weight: bold;
  font-size: 1.1rem;
}

.updatesMarquee {
  color: #333;
  font-weight: 500;
  font-size: 1rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scroll-left 20s linear infinite;
}